ZOTERO_API_KEY="api-key"                           # obtain this from https://www.zotero.org/settings/keys/new
ZOTERO_LIBRARY_TYPE="user"                         # or "group"
ZOTERO_LIBRARY_ID="library-id"                     # get user ID https://www.zotero.org/settings/keys or the group ID from the group's page
ZOTERO_PARENT_COLLECTION_NAME="Scholarly Articles" # collection for the scraped items
QUERY=""                                           # also can be set by using the `--query` flag
